body{
    margin:0;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2892ee;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover:not(.active) {
    background-color: #ddd;
    color: blue;
}

.header .active {
    background-color: #ddd;
    color: blue;

}

.center {
    display: flex;
    /* border:1px solid black; */
    /* margin: 12px 450px; */
}


.center .home_detail {
    width:100%;
    background-color: #edf4f7;
    text-align: center;
}

.center .home_detail img{
    width:100%;
}

.center .home_detail .home_title{
    width: 40%;
    margin:0px auto;
}

.center .home_detail .home_title h1{
    font-size: 53px;
    margin-top: 10px;
}

.center .home_detail .home_title p{
    font-size: 17px;
}
.sidebar {
    border-right: 2px inset #edf4f7;
    /* height: 100vh; */
    width: 15%;
    background-color: #fefefe;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 13px 33px;
    text-decoration: none;
    color: black;
    display: block;
    margin: 2px 8px;
    border-radius: 9px;
}

.sidebar a:hover {
    background-color: #2fbed1; /* Màu xanh lam khi hover */
    color :white;
    text-shadow: 9px 6px 4px black;
} 

.sidebar a.active {
    background-color: #2fbed1; /* Màu xanh lam đậm khi active */
    color: white;
    text-shadow: 9px 6px 4px black;
}

.content {
    /* padding: 20px; */
    flex-grow: 1;
    background-color: #edf4f7;
}



.content .title{
    padding: 15px;
    background-color: white;
}

.content .title a{
    text-decoration: none;
}

.content .title span {
    padding: 0px 5px;
}
.content .content_detail {
    background-color: #edf4f7;
}

.content .content_detail .detail {
    background-color: white;
    width: 60%;
    border:1px solid black;
    padding-top: 14px;
    margin: 45px auto;
}



.content .content_detail .detail div{
    width:90%;
    margin:12px auto;
}

.content .content_detail .detail label{
    font-weight: bold;
    display: block;
    font-size: 1rem;
    color:#5491c1;
}

.content .content_detail .detail input, select{
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.content .content_detail .detail input:focus{
    width: 100%;
    padding: 8px;
    outline:none; /*mất border khi focus*/
    border-bottom: 2px solid #5491c1;
}

.content .content_detail .detail .buttons {
    overflow: auto;
    margin: 33px 1px;
}

.content .content_detail .buttons button{
    float:right;
    margin-left: 12px;
    font-weight: bold;
    color:white;
    background-color: #2fbed1;
    border: 1px solid #2fbed1;
    padding: 10px 12px;
    border-radius: 11px;
}


/*table*/
table {
    border-collapse: collapse;
    width: 100%;
    /* background-color: #f9efef; */
}

table th{
    color:#5491c1
}

th,
td {
    padding: 17px 10px;
    text-align: left;
    border-bottom: 1px solid #5491c1;
} 


button{
   font-weight: bold;
    color:white;
    background-color: #2fbed1;
    border: 1px solid #2fbed1;
    padding: 10px 12px;
    border-radius: 11px; 
}
button.addUser {
    margin: 12px 55px;
}

a{
    text-decoration: none;
}


/*ABOUT*/
.center .about_title{
    color:#5491c1;
    width:100%;
    text-align: center;
    /* border:1px solid black; */
}

.center .about_content{
    background-color: #edf4f7;
    width: 100%;
    
}

.center .about_content .about_detail{
    overflow: auto;
    padding: 20px 227px;
    width: 53%;
    margin: 1px auto;
}

.center .about_content .about_detail .img_about{
    float: left;
    width: 28%;
}
.center .about_content .about_detail img{
    width: 100%;
    padding: 70px 0;
}

.center .about_content .introduce {
    float: right;
    width: 60%;
    margin-left: 40px;
}
.center .about_content .introduce h1{
    width: 60%;
    font-size: 40px;
}

.center .about_content .bio_highlight{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width:700px;
    margin:1px auto;
    margin-bottom: 90px;
}

.center .about_content .bio_highlight .grid_tittles{
    text-decoration: underline;
}

.center .about_content .bio_highlight .grid_paragraph{
    font-style: italic;
}

.center .about_content .bio_highlight .highlight_detail_square_1{
    border-bottom:1px solid black;
    padding-bottom: 24px;
    padding-right: 24px;
}

.center .about_content .bio_highlight .highlight_detail_square_2{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.center .about_content .bio_highlight .highlight_detail_square_3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-bottom: 24px;
    padding-left: 24px;
}

.center .about_content .bio_highlight .highlight_detail_square_4 {
    padding-top: 24px;
    padding-right: 24px;
}

.center .about_content .bio_highlight .highlight_detail_square_5 {
    border-left: 1px solid black;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.center .about_content .bio_highlight .highlight_detail_square_6 {
    border-left: 1px solid black;
    padding-top: 24px;
    padding-left: 24px;
}
.center .about_content .footer{
    overflow: hidden;
    border-top: 1px solid #d3d6d9;
    padding-bottom: 40px;
}

.center .about_content .footer h4{
    color:#5491c1;
}
.center .about_content .footer p{
    margin:0;
    padding:0;
}
.center .about_content .footer .work{
    float:left;
    width:50%;
    text-align: center;
}

.center .about_content .footer .contact_information{
    float:right;
    width:50%;
    text-align: center;
}


